{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
<div class='form-section rounded mt-3'>
        <h2 class='mt-3'>Profile</h2>
    <div class="media text-muted pt-3">
        <img src ="{{ user.profile.img.url }}" class = "mr-3 rounded "style="width: 64px;  height: 64px;" ></img>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
          <b>Email:</b> {{ user.email }}
        </p>
      </div>
      <form method="POST" enctype="multipart/form-data">
        <h2 class='mt-3'>Update user data</h2>
        {% csrf_token %}
        {{ update_user|crispy }}
        {{ update_img|crispy }}
        <button type='submit' class='btn btn-primary'>Update!</button>
</form>
</div>

{% endblock main_section %}
